.App {
  text-align: center;
}
.image-container {
  display: flex;
  justify-content: space-between;
  margin-top : 20px; /* Adjust as needed */
}

.image-container img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintain the aspect ratio */
}